/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes showGraph {
  0% {
    width: 0%;
  }
  100% {
    width: 100vw;
  }
}
body {
  background-color: #222222;
  color: #eee;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  opacity: 0.6;
  transition: 0.5s;
}

a:hover {
  opacity: 1;
}

#dotCan {
  background-color: #222222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.tooltip .skillText {
  cursor: default;
  font-size: 0.75rem;
  transform: rotate(45deg);
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #eee;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.php {
  background-color: #8892bf;
  color: #111;
}

.mysql {
  background-color: #4479a1;
}

.css {
  background-color: #2270ba;
}

.javascript {
  background-color: #f7e017;
  color: #111;
}

.node {
  background-color: #89bd5c;
}

.html {
  background-color: #e54c26;
}

.mvc {
  background-color: #afafaf;
  color: #111;
}

.react {
  background-color: #61dbfb;
  color: #111;
}

.git {
  background-color: #ee5b41;
}

.scss {
  background-color: #cc6699;
}

.express {
  background-color: #4e8995;
}

.python {
  background-color: #fbc331;
  color: #111 !important;
}

.jquery {
  background-color: greenyellow;
}

.asp\.net {
  background-color: #ad0d0d;
}

.rubyonrails {
  background-color: #e63232;
}

.bootstrap {
  background-color: #2124c0;
}

.less {
  background-color: #e0579c;
}

.typescript {
  background-color: #23239e;
}

.jest {
  background-color: #89db1e;
}

.jasmine {
  background-color: #be2f2f;
}

.mobx {
  background-color: cadetblue;
}

.photoshop {
  background-color: #1f1f8f;
}

.es6 {
  background-color: #bbb829;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  align-self: center;
  margin-top: 0;
  overflow: scroll;
  position: absolute;
  z-index: 2;
  scrollbar-width: none;
  max-height: 100vh;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 850px) {
  .wrapper {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
  }
}
nav {
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-around;
  border-bottom: 1px dotted #fffeee;
  padding-bottom: 10px;
  padding-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #111111;
  min-height: 25px;
  align-items: center;
}

.main h1 {
  font-size: 36px;
  margin-left: 10px;
  margin-top: 25px;
}
.main h2 {
  margin-left: 15px;
  font-size: 28px;
  margin-top: 10px;
}
.main h3 {
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .subtitle {
  margin-left: 19px;
  font-size: 18px;
  color: #ccc;
  margin-top: 9px;
}
.main h4 {
  font-size: 1.5rem;
  margin-left: 25px;
}

@media screen and (max-width: 850px) {
  h1 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 0.75rem;
  }
}
.projectsHeader {
  font-size: 2rem;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .projectsHeader {
    text-align: center;
  }
}
footer {
  border-top: 1px dotted white;
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  align-items: center;
}
footer .copyright {
  font-size: 0.75rem;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
footer .links {
  display: inline-block;
}
footer .links a {
  margin: 0 10px;
}

.skillsList {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 65px;
}

@media screen and (max-width: 600px) {
  .skillsList {
    margin-left: 0;
    margin-right: 10px;
  }
}
.skillsList .skillBox {
  margin: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.skillsList .skillBox .skillHead {
  width: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid white;
  transform: rotate(-45deg);
  top: 35px;
  left: 5px;
  font-size: 12px;
  height: 18px;
  overflow: visible;
  flex-shrink: 0;
}
.skillsList .skillBox .skillGraph {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid white;
  padding-left: 5px;
  height: 24px;
  max-width: 80%;
  flex-shrink: 1;
}
.skillsList .skillBox .skillGraph .graphBar {
  overflow-x: hidden;
  height: 100%;
  animation: showGraph ease-in-out 2.5s forwards;
  opacity: 1;
  transition: 0.5s;
}
.skillsList .skillBox .skillGraph .graphBar:hover {
  opacity: 1;
}

#skillGraphHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 16px;
  overflow: visible;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  border-radius: 0px;
  margin-left: -8px;
}
#skillGraphHead p {
  position: static;
  padding-bottom: 10px;
  z-index: -1;
  border-right: 2px dotted white;
}

#skillBoxHead {
  margin-bottom: 10px;
}
#skillBoxHead .skillHead {
  background-color: transparent;
  border: none;
}

.projectBox {
  border: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin: 10px auto;
}
.projectBox h3 {
  font-size: 2rem;
  font-weight: 1000;
  margin-top: 4px;
  margin-left: 4px;
  text-align: center;
}
.projectBox .pBoxLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projectBox a {
  margin-left: 10px;
  display: inline-block;
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: 150;
  border-bottom: 1px dotted white;
  text-align: center;
}
.projectBox p {
  margin-top: 8px;
  margin-left: 12px;
  text-align: left;
  inset-block: unset;
  font-size: 1.1rem;
}
.projectBox .tooltipsList {
  margin-left: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projectBox .tooltipsList h4 {
  font-size: 1.4rem;
  display: inline-block;
}

@media screen and (max-width: 620px) {
  .projectBox {
    width: 100%;
    margin: 10px 0;
  }
  .projectBox h3 {
    font-size: 1.5rem;
  }
  .projectBox .tooltipsList {
    margin-left: 0;
  }
  .projectBox h4 {
    margin-left: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
