nav {
    display: flex;
    flex-direction: row;
    z-index: 100;
    justify-content: space-around;
    border-bottom: 1px dotted #fffeee;
    padding-bottom: 10px;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #111111;
    min-height: 25px;
    align-items: center; 
}