.php {
    background-color: #8892bf;
    color: #111;
}
.mysql {
    background-color: #4479a1;
}
.css {
    background-color: #2270ba;
}
.javascript {
    background-color: #f7e017;
    color: #111;
}
.node {
    background-color: #89bd5c;
}
.html {
    background-color: #e54c26;
}
.mvc {
    background-color: #afafaf;
    color: #111;
}
.react {
    background-color: #61dbfb; 
    color: #111;
}
.git {
    background-color: #ee5b41;
}
.scss {
    background-color: #cc6699;
}
.express {
    background-color: #4e8995;
}
.python {
    background-color: #fbc331;
    color: #111 !important;
}
.jquery {
    background-color: greenyellow;
}
.asp\.net {
    background-color: #ad0d0d;
}
.rubyonrails {
    background-color: #e63232;
}
.bootstrap {
    background-color: #2124c0;
}
.less {
    background-color: #e0579c;
}
.typescript {
    background-color: #23239e;
}
.jest {
    background-color: #89db1e;
}
.jasmine {
    background-color: rgb(190, 47, 47);
}
.mobx {
    background-color: cadetblue;
}
.photoshop {
    background-color: rgb(31, 31, 143);
}
.es6 {
    background-color: rgb(187, 184, 41);
}
