.php {
    background-color: #8892bf;
}
.mysql {
    background-color: #4479a1;
}
.css {
    background-color: #2270ba;
}
.javascript {
    background-color: #f7e017
}
.node {
    background-color: #89bd5c;
}
.html {
    background-color: #e54c26;
}
.mvc {
    background-color: #afafaf;
}
.react {
    background-color: #61dbfb;
}
.git {
    background-color: #ee4f32;
}
.scss {
    background-color: #cc6699;
}
.express {
    background-color: #4e8995;
}
.python {
    background-color: #fbc331;
}