.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    align-self: center;
    margin-top: 0;
    overflow: scroll;
    position: absolute;
    z-index: 2;
    scrollbar-width: none;
    max-height: 100vh;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 850px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
}